<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(ServiceRequestApp.Blazor.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(ServiceRequestApp.Blazor.Layout.MainLayout)">
            <p role="alert">Désolé, il n'y a rien à cette adresse.</p>
        </LayoutView>
    </NotFound>
</Router>